<h1>{{appName}}</h1>
<h3>{{title}}</h3>

<hr />
<a href="/">Home</a> |
<a href="/results">Results</a> |
<a href="/nationalities">Nationalities</a>
<hr />

{{colour}}

<hr />
<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}


