<div class="content">

<h4>Nationalities</h4>
<h5>{{controller.model.country}}</h5>

<p>Country Code: {{controller.model.code}}</p>
<p>Nationality: {{controller.model.nationalOrigin}}</p>

<hr />

{{outlet}}

</div>

<hr />
{{#link-to 'nationality' 'GB' replace=true}}GB{{/link-to}}

